<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>610827964544-ujv7nffvshrq0h6sfdu8o6m6ohgm66op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610827964544-ujv7nffvshrq0h6sfdu8o6m6ohgm66op</string>
	<key>API_KEY</key>
	<string>AIzaSyC73gGYoDe5U2NbmGxlZhq8YoyELToCzJw</string>
	<key>GCM_SENDER_ID</key>
	<string>610827964544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Labs.WakeUpFirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>wakeupdemo-5cedd</string>
	<key>STORAGE_BUCKET</key>
	<string>wakeupdemo-5cedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:610827964544:ios:6220d6eda3412ed15d9665</string>
</dict>
</plist>
